<footer class="main-footer">
	<div class = "sub-footer">
        <img src="/rujutaProduction/assets/images/RMPNewLogo.png" class="footerImage">
	</div>
	
	<div class = "sub-footer-2">

		<div class="middle-sub-footer">
			
			<p><fa-icon [icon]="faMapLocation"></fa-icon><span>  Reading,</span> United Kingdom.<!--, RG1 2PY.--></p>
		</div>

		<div class="middle-sub-footer">
			
			<p><fa-icon [icon]="faPhone"></fa-icon>  +44 7436552705</p>
		</div>

		<div class=" middle-sub-footer">
			
			<p><fa-icon [icon]="faEnvelope"></fa-icon><a href="mailto:support@company.com">  rujumalshe10@gmail.com</a></p>
		</div>

	</div>
	<!--<div class = "sub-footer-3">
		<p>Social Media Handles</p>
		<a  href="#"><fa-icon [icon]="faFacebook"></fa-icon></a>
		<a  href="#"><fa-icon [icon]="faInstagram"></fa-icon></a>
		<a  href="#"><fa-icon [icon]="faLinkedin"></fa-icon></a>

	</div>-->
</footer>