<mat-toolbar fxLayout="row" color="primary">
    
    
        <a routerLink = "/home">
        <img src="/assets/images/RMPNewLogoNavbar.png" class="navbarImage">
        </a>
        <span  fxFlex  routerLink="/home">Essence Physical Therapy and Massage Therapy</span>
        

     <ng-container *ngIf="!isTabletOrMobile">   
      <ng-container  *ngFor="let item of menuItems">
      <button mat-button  
        id = "{{item.id}}"
        *ngIf = "item.logged"
        [fxShow]="item.showOnDesktop" 
        [fxShow.xs]="item.showOnMobile"
        [fxShow.sm]="item.showOnTablet"
        routerLink="{{item.path}}"
        class="mr fire "
        (click)="item.function">
        <mat-icon>{{item.icon}}</mat-icon>
        {{item.label}}
    </button>
    </ng-container>
    </ng-container>     
  
  
    <ng-container *ngIf="isTabletOrMobile">
    <ng-container>
        <button mat-icon-button [matMenuTriggerFor]="dropMenu">
          <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #dropMenu="matMenu">
          <ng-container *ngFor="let item of menuItems">
            <div [fxShow]="item.showOnTablet || item.showOnMobile">
              <button mat-menu-item routerLink="{{item.path}}">
                <mat-icon class="mr fire" routerLink="{{item.path}}">{{item.icon}}</mat-icon>
                {{item.label}}
              </button>
              <mat-divider></mat-divider>
            </div>
          </ng-container>
        </mat-menu>
      </ng-container>
    </ng-container>
    <!--
            <ng-container *ngIf="isTabletOrMobile">
        <button mat-icon-button [matMenuTriggerFor]="dropMenu">
            <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #dropMenu="matMenu">
            <ng-container *ngFor="let item of menuItems">
                <div [fxShow]="!item.showOnDesktop" 
                     [fxShow.sm]="!item.showOnTablet" 
                     [fxShow.xs]="!item.showOnMobile">
                    <button mat-menu-item>
                        <mat-icon class="mr fire" routerLink="{{item.path}}">{{item.icon}}</mat-icon>
                        {{item.label}}
                    </button>
                    <mat-divider></mat-divider>
                </div>
            </ng-container>
        </mat-menu>
    </ng-container>
-->
    </mat-toolbar>
  
