<div class="container">
  <div class="grid-item" *ngFor="let tile of eventsTile">
    <div class="image-container">
      <img class="imageSize" [src]="tile.image" alt="Image Header">
    </div>
    <div class="content">
      <h6 class="title">{{ tile.name }}</h6>
      <div class = "scroll">
        <p class="description">{{ tile.info }}</p>
      </div>
      
      <div class="price-container">
        <div>
          <h6 class="price">{{tile.time1}} : {{tile.price1}}</h6>
          <h6 class="price">{{tile.time2}} : {{tile.price2}}</h6>
          <h6 class="price">{{tile.time3}} : {{tile.price3}}</h6>
        </div>
        <div  id="circle">
          <button mat-raised-button class="circle-button" (click)="onClickButton()">Book Now!</button>
        </div>
        <!--
        <div id="circle">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 400 400" enable-background="new 0 0 400 400" xml:space="preserve">
            <defs>
              <path id="circlePath" d="M 200, 200 m -160, 0 a 160,160 0 0,1 320,0 a 160,160 0 0,1 -320,0 "/>
            </defs>
            <circle cx="200" cy="200" r="120" fill="none"/>
            <g>
              <use xlink:href="#circlePath" fill="none"/>
              <text fill="#000">
                <textPath xlink:href="#circlePath"></textPath>
              </text>
            </g>
          </svg>
          <button class="circle-button">Book Now!</button>
        </div>
        -->
        
        
        
      </div>
    </div>
  </div>
</div>






 
 <!--
 <mat-grid-list  [cols]= "3" rowHeight="40vh">
     
     
     <mat-grid-tile  class="firstCol"
         *ngFor="let tile of eventsTile"
         [colspan]="tile.cols"
         [rowspan]="tile.rows"
         [style.background]="tile.color"
         (click)='getTicket(tile.id)'>
         
     <mat-grid-tile-header>
             <h3>{{tile.name}}</h3>
     </mat-grid-tile-header>    
     <img src="{{tile.image}}" class = "imageSize" alt="Image not found">  
     <mat-grid-tile-footer>
     <pre>{{tile.date}}
 {{tile.location}}</pre>
     </mat-grid-tile-footer>    
     
     </mat-grid-tile>
     
 </mat-grid-list>
-->