
<div class = "container">
    <!--
    <ng-container *ngIf="!showPaymentButtons">-->
    <div>
        <h1>You will be redirected to the JWPodiatry website, where you can book the treatment. All payments and bookings will be handled by JWPodiatry. Essence is not responsible for any bookings and payments. Press OK to continue.</h1>
    </div>
    <div>
      <button mat-raised-button class="circle-button" (click)="onClickOkButton()">OK</button>
    </div>
    <div>
    <button mat-raised-button  class="cancel-button" (click)="onClickCancelButton()">Cancel</button>
    </div>
    <!--document.location.href = 'https://www.jwpodiatry.co.uk/book-online-1';
    <div class="form-class">
    <form [formGroup]="bookingForm" (ngSubmit)="onFormSubmit()">
      <input type="text" [(ngModel)]="name" name="name" placeholder="Your Name" formControlName="name">
      <input type="email" [(ngModel)]="email" name="email" placeholder="Your Email" formControlName="email">
      <textarea [(ngModel)]="message" name="message" rows="5" cols="30" placeholder="Your Message" formControlName="message"></textarea>
      <input type="hidden" [(ngModel)]="access_key" name="access_key" value="cecae326-e249-46c5-8f70-d161c230ee33" formControlName="access_key">
      <div class="h-captcha" data-captcha="true"></div>
        <p>Please select the duration of treatment</p>
      <div class="form-elements"> 
      <input type="radio" [(ngModel)]="duration" id="duration" name="duration" value="25" formControlName="duration">
      <label for="half">30 Minutes</label><br>
      <input type="radio" [(ngModel)]="duration" id="duration" name="duration" value="35" formControlName="duration">
      <label for="threeQuarter">45 Minutes</label><br>
      <input type="radio" [(ngModel)]="duration" id="duration" name="duration" value="45" formControlName="duration">
      <label for="hour">50 Minutes</label> 
      </div>
      <div class="form-elements">  
      <p>Please select the date of treatment</p>
      <input type="date" [(ngModel)]="date" id="date" name="date" formControlName="date">
      <label for = "date"></label>
      </div>
      <p>Grand Total: <input type="text" [(ngModel)]="total" id="total" name="total" value="{{ bookingForm.value.duration }} " formControlName="total" > </p>
      <button mat-raised-button	color="primary" type="submit">Go To Payments</button>
    </form>
    </div>
    -->
    <!--</ng-container>-->
    <!--
     //Payment Gateway   
    <div *ngIf="showPaymentButtons">
        <div>
            <h1>Select your payment type!</h1>
            <p>Grand Total:  {{ bookingForm.value.duration }} GBP</p>
        </div>
        <div id="paypal-button-container"></div>
    </div>
    -->
</div>


